# 本題要找出總量維奇數與偶數的交易並分別加總之後用日期進行排序 (\#Groupby )
原題目連結: https://leetcode.com/problems/odd-and-even-transactions/description/  

Table: transactions  
```
+------------------+------+
| Column Name      | Type | 
+------------------+------+
| transaction_id   | int  |
| amount           | int  |
| transaction_date | date |
+------------------+------+
```
The transactions_id column uniquely identifies each row in this table.  
Each row of this table contains the transaction id, amount and transaction date.  
Write a solution to find the sum of amounts for odd and even transactions for each day. If there are no odd or even transactions for a specific date, display as 0.  
Return the result table ordered by transaction_date in ascending order.  

The result format is in the following example.  

範例:  
Ex1:  
Input:  
transactions table:  
```
+----------------+--------+------------------+
| transaction_id | amount | transaction_date |
+----------------+--------+------------------+
| 1              | 150    | 2024-07-01       |
| 2              | 200    | 2024-07-01       |
| 3              | 75     | 2024-07-01       |
| 4              | 300    | 2024-07-02       |
| 5              | 50     | 2024-07-02       |
| 6              | 120    | 2024-07-03       |
+----------------+--------+------------------+
```
Output:  
```
+------------------+---------+----------+
| transaction_date | odd_sum | even_sum |
+------------------+---------+----------+
| 2024-07-01       | 75      | 350      |
| 2024-07-02       | 0       | 350      |
| 2024-07-03       | 0       | 120      |
+------------------+---------+----------+
```
Explanation:  
For transaction dates:  
2024-07-01:  
Sum of amounts for odd transactions: 75  
Sum of amounts for even transactions: 150 + 200 = 350  
2024-07-02:  
Sum of amounts for odd transactions: 0  
Sum of amounts for even transactions: 300 + 50 = 350  
2024-07-03:    
Sum of amounts for odd transactions: 0  
Sum of amounts for even transactions: 120  
Note: The output table is ordered by transaction_date in ascending order.

* 解題想法:  
首先用所有的distinct transaction_date當成key，接著用奇數與偶數的數值分別進行left join，如果是null時則用coalesce函數取代為0，最後整合出新的table就是答案

#Write your MySQL query statement below
```
select t.transaction_date, coalesce(odd.odd_sum, 0) as odd_sum, coalesce(even.even_sum, 0) as even_sum from (select distinct(transaction_date) from transactions ) t
left join 
(select transaction_date, sum(amount) as odd_sum from transactions where amount % 2 != 0 group by transaction_date) odd
on t.transaction_date = odd.transaction_date
left join
(select transaction_date, sum(amount) as even_sum from transactions where amount % 2 = 0 group by transaction_date) even 
on t.transaction_date = even.transaction_date
order by t.transaction_date
```