# 本題要找出每個老師共教了幾門不同的課程 (\#Pandas)
原題目連結: https://leetcode.com/problems/number-of-unique-subjects-taught-by-each-teacher/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata  

Table: Teacher  
```
+-------------+------+
| Column Name | Type |
+-------------+------+
| teacher_id  | int  |
| subject_id  | int  |
| dept_id     | int  |
+-------------+------+
```
(subject_id, dept_id) is the primary key (combinations of columns with unique values) of this table.  
Each row in this table indicates that the teacher with teacher_id teaches the subject subject_id in the department dept_id.  

Write a solution to calculate the number of unique subjects each teacher teaches in the university.  
Return the result table in any order.  

The result format is shown in the following example.  

範例:  
Ex1:  
Input:   
Teacher table:  
```
+------------+------------+---------+
| teacher_id | subject_id | dept_id |
+------------+------------+---------+
| 1          | 2          | 3       |
| 1          | 2          | 4       |
| 1          | 3          | 3       |
| 2          | 1          | 1       |
| 2          | 2          | 1       |
| 2          | 3          | 1       |
| 2          | 4          | 1       |
+------------+------------+---------+
```
Output:  
```
+------------+-----+
| teacher_id | cnt |
+------------+-----+
| 1          | 2   |
| 2          | 4   |
+------------+-----+
```
Explanation:   
Teacher 1:  
  - They teach subject 2 in departments 3 and 4.  
  - They teach subject 3 in department 3.  
Teacher 2:  
  - They teach subject 1 in department 1.  
  - They teach subject 2 in department 1.  
  - They teach subject 3 in department 1.  
  - They teach subject 4 in department 1.

* 解題想法:  
首先將department欄位去掉，只留下每個老師教了什麼課程，接著用transform的方式計算每個老師共有多少門不同的課程，最後將課程id欄位也去除後再去除重複的資料就是答案

In [ ]:
import pandas as pd

def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    teacher = teacher[['teacher_id','subject_id']].drop_duplicates()
    teacher['cnt'] =  teacher.groupby('teacher_id').transform('count')
    teacher = teacher[['teacher_id','cnt']].drop_duplicates()
    return teacher