# 本題要找出三個薪水類別的資料各有幾筆 (\#Pandas)
原題目連結: https://leetcode.com/problems/count-salary-categories/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata  

Table: Accounts  
```
+-------------+------+
| Column Name | Type |
+-------------+------+
| account_id  | int  |
| income      | int  |
+-------------+------+
```
account_id is the primary key (column with unique values) for this table.  
Each row contains information about the monthly income for one bank account.  

Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:  

"Low Salary": All the salaries strictly less than $20000.  
"Average Salary": All the salaries in the inclusive range [$20000, $50000].  
"High Salary": All the salaries strictly greater than $50000.  
The result table must contain all three categories. If there are no accounts in a category, return 0.  

Return the result table in any order.  
The result format is in the following example.  

範例:  
Ex1:  
Input:   
Accounts table:  
```
+------------+--------+
| account_id | income |
+------------+--------+
| 3          | 108939 |
| 2          | 12747  |
| 8          | 87709  |
| 6          | 91796  |
+------------+--------+
```
Output:  
```
+----------------+----------------+
| category       | accounts_count |
+----------------+----------------+
| Low Salary     | 1              |
| Average Salary | 0              |
| High Salary    | 3              |
+----------------+----------------+
```
Explanation:   
Low Salary: Account 2.  
Average Salary: No accounts.  
High Salary: Accounts 3, 6, and 8.

* 解題想法:  
分別用query的方式找出三個類別的資料筆數各有多少，接著重新建立一個Dataframe來記錄這三個類別的資料，最後回傳新的Dataframe就是答案

In [ ]:
import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    l = len(accounts.query('income < 20000'))
    m = len(accounts.query('income >= 20000 & income <= 50000'))
    h = len(accounts.query('income > 50000'))
    res = pd.DataFrame({'category': ['Low Salary','Average Salary','High Salary'], 'accounts_count': [l,m,h]})
    return res