# 本題要找出管理人數大於五人以上的姓名有哪些 (\#TempTable, \#GroupBy)
原題目連結：https://leetcode.com/problems/managers-with-at-least-5-direct-reports/description/  

Table: Employee  
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |
+-------------+---------+
```
id is the primary key (column with unique values) for this table.  
Each row of this table indicates the name of an employee, their department, and the id of their manager.  
If managerId is null, then the employee does not have a manager.  
No employee will be the manager of themself.  
Write a solution to find managers with at least five direct reports.  
Return the result table in any order.  

The result format is in the following example.  

範例：  
Ex1:  
Input:   
Employee table:  
```
+-----+-------+------------+-----------+
| id  | name  | department | managerId |
+-----+-------+------------+-----------+
| 101 | John  | A          | null      |
| 102 | Dan   | A          | 101       |
| 103 | James | A          | 101       |
| 104 | Amy   | A          | 101       |
| 105 | Anne  | A          | 101       |
| 106 | Ron   | B          | 101       |
+-----+-------+------------+-----------+
```
Output:  
```
+------+
| name |
+------+
| John |
+------+
```

* 解題想法：  
首先建立一個temp table，用managerId進行groupby之後找出每個managerId共管理多少人，接著用left join將id與姓名跟管理的人數串在一起，最後再取出管理人數大於5個人以上的姓名就是答案

```
# Write your MySQL query statement below
select name from 
(select Employee.id, Employee.name, t.c from Employee left join 
(select managerId, count(managerId) as c from Employee group by managerId ) t
on Employee.id = t.managerId ) m
where c >= 5
```