# 本題要將unique id加到原本的employee表格中 (\#Pandas)
原題目連結: https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/  

Table: Employees  
```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| name          | varchar |
+---------------+---------+
```
In SQL, id is the primary key for this table.  
Each row of this table contains the id and the name of an employee in a company.  
 
Table: EmployeeUNI  
```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| unique_id     | int     |
+---------------+---------+
```
In SQL, (id, unique_id) is the primary key for this table.  
Each row of this table contains the id and the corresponding unique id of an employee in the company.  
 
Show the unique ID of each user, If a user does not have a unique ID replace just show null.  

Return the result table in any order.  
The result format is in the following example.  

範例:  
Ex1:   
Input:   
Employees table:  
```
+----+----------+
| id | name     |
+----+----------+
| 1  | Alice    |
| 7  | Bob      |
| 11 | Meir     |
| 90 | Winston  |
| 3  | Jonathan |
+----+----------+
```
EmployeeUNI table:  
```
+----+-----------+
| id | unique_id |
+----+-----------+
| 3  | 1         |
| 11 | 2         |
| 90 | 3         |
+----+-----------+
```
Output:   
```
+-----------+----------+
| unique_id | name     |
+-----------+----------+
| null      | Alice    |
| null      | Bob      |
| 2         | Meir     |
| 3         | Winston  |
| 1         | Jonathan |
+-----------+----------+
```
Explanation:   
Alice and Bob do not have a unique ID, We will show null instead.  
The unique ID of Meir is 2.  
The unique ID of Winston is 3.  
The unique ID of Jonathan is 1.

* 解題想法:  
首先將兩個table進行合併，並用id作為key值，接著將id欄位刪除後就是答案

In [ ]:
import pandas as pd

def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    t = pd.merge(employee_uni, employees, how='right',on='id')
    t = t[['unique_id','name']]
    return t