# 本題要找出第N高的薪水為何 (\#Pandas)
原題目連結: https://leetcode.com/problems/nth-highest-salary/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata  

Table: Employee  
```
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
```
id is the primary key (column with unique values) for this table.  
Each row of this table contains information about the salary of an employee.  

Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null.  

The result format is in the following example.  

範例:  
Ex1:  
Input:   
Employee table:  
```
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
```
n = 2  
Output:  
```
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+
```

Ex2:  
Input:   
Employee table:  
```
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
```
n = 2  
Output:  
```
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| null                   |
+------------------------+
```

* 解題想法:  
與176題類似，首先針對salary進行排序後去掉重複的數值，接著檢查剩下的Dataframe長度是否有超過N，如果有的話則取出第N-1個值，否則回傳null，最後將重新組合的Dataframe回傳

In [ ]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    employee = employee.sort_values('salary', ascending = False)['salary'].drop_duplicates()
    title = 'getNthHighestSalary({})'.format(N)
    res = {}
    if N <= len(employee):
        res = {title:[employee.iloc[N-1]]}
    else:
        res = {title: [None]}
    return pd.DataFrame(res)