# 本題要找出每個產品第一年的銷售紀錄 (\#Join, \#Partition )
原題目連結: https://leetcode.com/problems/product-sales-analysis-iii/description/  

Table: `Sales`  
```
+-------------+-------+
| Column Name | Type  |
+-------------+-------+
| sale_id     | int   |
| product_id  | int   |
| year        | int   |
| quantity    | int   |
| price       | int   |
+-------------+-------+
```
- (sale_id, year) is the primary key (combination of columns with unique values) of this table.

Each row records a sale of a product in a given year.  
A product may have multiple sales entries in the same year.  
Note that the per-unit price.  

Write a solution to find all sales that occurred in the first year each product was sold.  
For each product_id, identify the earliest year it appears in the Sales table.  
Return all sales entries for that product in that year.  
Return a table with the following columns: `product_id`, `first_year`, `quantity`, and `price`.  
Return the result in any order.  

範例:  
Ex1:  
Input:   
`Sales` table:   
```
+---------+------------+------+----------+-------+
| sale_id | product_id | year | quantity | price |
+---------+------------+------+----------+-------+ 
| 1       | 100        | 2008 | 10       | 5000  |
| 2       | 100        | 2009 | 12       | 5000  |
| 7       | 200        | 2011 | 15       | 9000  |
+---------+------------+------+----------+-------+
```
Output:
```
+------------+------------+----------+-------+
| product_id | first_year | quantity | price |
+------------+------------+----------+-------+ 
| 100        | 2008       | 10       | 5000  |
| 200        | 2011       | 15       | 9000  |
+------------+------------+----------+-------+
```

* 解題想法:  
首先用partition找出每一個產品第一年是多少，然後再用join的方式找出所有這一年的資料就是答案

```
# Write your MySQL query statement below

select a.product_id, a.year as first_year, b.quantity, b.price from
(select product_id, year from 
(select *, row_number() over (partition by product_id order by year) as first from sales ) o
where first = 1 ) a
left join 
(select product_id, year, quantity, price from sales ) b
on a.product_id = b.product_id and a.year = b.year
```