# 本題要找出電影最多評分紀錄以及評分最高的電影 
原題目連結：https://leetcode.com/problems/movie-rating/description/  

Table: Movies  
```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| movie_id      | int     |
| title         | varchar |
+---------------+---------+
```
movie_id is the primary key (column with unique values) for this table.  
title is the name of the movie.  

Table: Users  
```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| user_id       | int     |
| name          | varchar |
+---------------+---------+
```
user_id is the primary key (column with unique values) for this table.  

Table: MovieRating  
```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| movie_id      | int     |
| user_id       | int     |
| rating        | int     |
| created_at    | date    |
+---------------+---------+
```
(movie_id, user_id) is the primary key (column with unique values) for this table.  
This table contains the rating of a movie by a user in their review.  
created_at is the user's review date.   
Write a solution to:  
Find the name of the user who has rated the greatest number of movies. In case of a tie, return the lexicographically smaller user name.  
Find the movie name with the highest average rating in February 2020. In case of a tie, return the lexicographically smaller movie name.  
The result format is in the following example.

* 解題想法：  
分別找出評分最多的人以及分數最高的電影之後，用union all將兩個select串起來後就可以產生題目要求的table

```
# Write your MySQL query statement below
select * from 
(select Users.name as results from Users left join
(select user_id, count(user_id) as c from MovieRating group by user_id) u
on Users.user_id = u.user_id order by u.c desc, Users.name limit 1 ) x
union all 
select * from 
(select Movies.title as results from Movies left join 
(select movie_id, sum(rating) / count(rating) as a from MovieRating where created_at > '2020-01-31' and created_at < '2020-03-01' group by movie_id ) t
on Movies.movie_id = t.movie_id order by t.a desc, Movies.title limit 1 ) y
```