# 本題要算出每個產品的平均成本為多少 (\#GroupBy )
原題目連結：https://leetcode.com/problems/average-selling-price/description/  

Table: Prices  
```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| product_id    | int     |
| start_date    | date    |
| end_date      | date    |
| price         | int     |
+---------------+---------+
```
(product_id, start_date, end_date) is the primary key (combination of columns with unique values) for this table.  
Each row of this table indicates the price of the product_id in the period from start_date to end_date.  
For each product_id there will be no two overlapping periods. That means there will be no two intersecting periods for the same product_id.  
Table: UnitsSold  
```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| product_id    | int     |
| purchase_date | date    |
| units         | int     |
+---------------+---------+
```
This table may contain duplicate rows.  
Each row of this table indicates the date, units, and product_id of each product sold.   
Write a solution to find the average selling price for each product. average_price should be rounded to 2 decimal places. If a product does not have any sold units, its average selling price is assumed to be 0.  
Return the result table in any order.  
The result format is in the following example.  

範例：  
Ex1:  
Input:   
Prices table:  
```
+------------+------------+------------+--------+
| product_id | start_date | end_date   | price  |
+------------+------------+------------+--------+
| 1          | 2019-02-17 | 2019-02-28 | 5      |
| 1          | 2019-03-01 | 2019-03-22 | 20     |
| 2          | 2019-02-01 | 2019-02-20 | 15     |
| 2          | 2019-02-21 | 2019-03-31 | 30     |
+------------+------------+------------+--------+
```
UnitsSold table:  
```
+------------+---------------+-------+
| product_id | purchase_date | units |
+------------+---------------+-------+
| 1          | 2019-02-25    | 100   |
| 1          | 2019-03-01    | 15    |
| 2          | 2019-02-10    | 200   |
| 2          | 2019-03-22    | 30    |
+------------+---------------+-------+
```
Output:  
```
+------------+---------------+
| product_id | average_price |
+------------+---------------+
| 1          | 6.96          |
| 2          | 16.96         |
+------------+---------------+
```
Explanation:   
Average selling price = Total Price of Product / Number of products sold.  
Average selling price for product 1 = ((100 * 5) + (15 * 20)) / 115 = 6.96  
Average selling price for product 2 = ((200 * 15) + (30 * 30)) / 230 = 16.96

* 解題想法：  
首先找出每個區間的產品售價為多少，並算出每個產品的平均值，接著用每個產品的ID去找出對應的平均售價，如果沒有賣出的產品則補0

In [ ]:
# Write your MySQL query statement below
select product_id, ifnull(average_price, 0) as average_price from (
select id.product_id, p.average_price from (select distinct(product_id) as product_id from Prices) id left join (
select product_id, round(sum(price * units) / sum(units), 2) as average_price from (
select UnitsSold.product_id, UnitsSold.units, Prices.price from UnitsSold join Prices on (UnitsSold.purchase_date >= Prices.start_date and UnitsSold.purchase_date <= end_date and UnitsSold.product_id = Prices.product_id)) c group by product_id ) p
on id.product_id = p.product_id) price