# 本題要找出薪水比主管高的人有哪些 (\#TempTable )
原題目連結：https://leetcode.com/problems/employees-earning-more-than-their-managers/description/  

Table: Employee  
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| salary      | int     |
| managerId   | int     |
+-------------+---------+
```
id is the primary key (column with unique values) for this table.  
Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.  
Write a solution to find the employees who earn more than their managers.  
Return the result table in any order.  

The result format is in the following example.  

範例：  
Ex1:  
Input:   
Employee table:  
```
+----+-------+--------+-----------+
| id | name  | salary | managerId |
+----+-------+--------+-----------+
| 1  | Joe   | 70000  | 3         |
| 2  | Henry | 80000  | 4         |
| 3  | Sam   | 60000  | Null      |
| 4  | Max   | 90000  | Null      |
+----+-------+--------+-----------+
```
Output:  
```
+----------+
| Employee |
+----------+
| Joe      |
+----------+
```
Explanation: Joe is the only employee who earns more than his manager.

* 解題想法：  
先建立一個temp table，用來把主管的薪水也加到table中，接著過濾薪水比主管高的人，將名字欄位重新命名就是答案

```
# Write your MySQL query statement below
select name as Employee from 
(select name, Employee.salary, t.salary as boss from Employee left join (select id, salary from Employee) t on Employee.managerId = t.id) sal
where salary > boss
```