# 本題要計算員工的bonus (\#Pandas)
原題目連結: https://leetcode.com/problems/calculate-special-bonus/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata  

Table: Employees  
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| employee_id | int     |
| name        | varchar |
| salary      | int     |
+-------------+---------+
```
employee_id is the primary key (column with unique values) for this table.  
Each row of this table indicates the employee ID, employee name, and salary.  

Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.  

Return the result table ordered by employee_id.  

The result format is in the following example.  

範例:  
Ex1:  
Input:   
Employees table:  
```
+-------------+---------+--------+
| employee_id | name    | salary |
+-------------+---------+--------+
| 2           | Meir    | 3000   |
| 3           | Michael | 3800   |
| 7           | Addilyn | 7400   |
| 8           | Juan    | 6100   |
| 9           | Kannon  | 7700   |
+-------------+---------+--------+
```
Output:  
```
+-------------+-------+
| employee_id | bonus |
+-------------+-------+
| 2           | 0     |
| 3           | 0     |
| 7           | 7400  |
| 8           | 0     |
| 9           | 7700  |
+-------------+-------+
```
Explanation:   
The employees with IDs 2 and 8 get 0 bonus because they have an even employee_id.  
The employee with ID 3 gets 0 bonus because their name starts with 'M'.  
The rest of the employees get a 100% bonus.

* 解題想法:  
首先建立一個function，用來過濾不同的條件並回傳bonus的值，接著用apply的方式來判斷每個人的bonus，最後回傳修改好的DataFrame做為答案

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    def cal(x):
        if x['employee_id'] % 2 == 0:
            return 0
        elif x['name'].startswith('M'):
            return 0
        else:
            return x['salary']
    employees['bonus'] = employees.apply(cal, axis = 1)
    employees = employees.sort_values('employee_id')
    emp = employees[['employee_id', 'bonus']]
    return emp